<!DOCTYPE html>
<html>
<head>
    <title>tierlist Details</title>
</head>
<body>
    <h1>tierlist Details</h1>
    <p>ID: <%= tierlist.id %></p>
    <p>Name: <%= tierlist.name %></p>
    <p>Description: <%= tierlist.description %></p>
    <p>Coverart: <%= tierlist.coverart %></p>
    <p>Tiers: <%= tierlist.tiers %></p>
    <p>Type: <%= tierlist.type %></p>
    <a href="/">Back to Home</a>
</body>
</html>
