<!DOCTYPE html>
<html>
<head>
    <title>tierlist Details</title>
</head>
<body>
    <style>
        #tierlist_container{
            height: 80vh;
            width: 80vw;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: antiquewhite;
        }
        .tier{
            height: 150px;
            width: 100%;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            
            padding: 5px;
            margin-top: 5px;
            border: 2px solid black;
        }
        .label{
            height: 150px;
            width: 150px;
            font-size: 50px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 5px;
            margin: 5px;
            display: inline-block;
        }
        .drop_area{
            background-color: wheat;
            height: 100%;
            width: 70%;
            display: inline-block;

        }

        #d_ch_1{
            background-color: greenyellow;
        }  
        #d_ch_2{
            background-color: red;
        }
        #d_ob_1{
            background-color: aqua;
        }
        #d_ob_2{
            background-color: yellow;
        }


        .chl{
            height: 100px;
        }
        .obj{
            height: 100px;
            width: 100px;
            display: inline-block;
        }
    </style>
    <script>
        function generate_tiers(){
            let tierlists = '<%= tierlist.tiers %>';
            let colors = '<%= tierlist.colors %>';
            let target = document.getElementById('tierlist_container')
            
            tierlists = tierlists.split(',')
            colors = colors.split(',')
            target.innerHTML=""

            let i=0;
            tierlists.forEach(element => {
                target.innerHTML+=`<div class='tier' id='tier_${element}' style='background-color:${colors[i]}' ><div class='label'>${element}</div><div class='drop_area' ondrop="drop(event)" ondragover="allowDrop(event)"></div></div>`
                i++
            });

        }
        function generate_objects(){
            let objects = "<%= JSON.stringify(objects) %>";
            for(i=0; i<1000; i++){
                objects = objects.replace('&#34;', "")
                objects = objects.replace('[', "")
                objects = objects.replace(']', "")
                objects = objects.replace('{', "")
                objects = objects.replace('}', "")
                objects = objects.replace(':', ",")
            }
            let j=0
            let all_objects = []
            
            objects = objects.split(',')
            while(j<objects.length){
                result = [objects[j+1], objects[j+3], objects[j+5], objects[j+7], objects[j+9], objects[j+11]]
                console.log(result)
                all_objects.push(result)
                j=j+12
            }
           console.log(typeof(objects))
           console.log(objects)
           console.log(all_objects)

           all_objects.forEach(element => {
                if(element[5]==""){
                    element[5]='gray'
                }
                document.getElementById("objects_bin").innerHTML+=`<div id='object_${element[0]}' class="obj"  style='background-color:${element[5]}' draggable="true" ondragstart="drag(event)">
        ${element[1]}
    </div>`
            
           });

        }
        function allowDrop(ev) {
            ev.preventDefault();
            }

            function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
            
            }

            function drop(ev, tr) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
            }
        function submit_form(target) {
            document.getElementById(target).click()

        }
        function getBaseClass(targetClass){
  if(targetClass instanceof Function){
    let baseClass = targetClass;

    while (baseClass){
      const newBaseClass = Object.getPrototypeOf(baseClass);

      if(newBaseClass && newBaseClass !== Object && newBaseClass.name){
        baseClass = newBaseClass;
      }else{
        break;
      }
    }

    return baseClass;
  }
}
        function parrent_name(){
            let aaa = document.getElementById("object_4")
        
            console.log(getBaseClass(aaa))
        }
    </script>
    <h1>tierlist Details</h1>
    <p>ID: <%= tierlist.id %></p>
    <p>Name: <%= tierlist.name %></p>
    <p>Description: <%= tierlist.description %></p>
    <p>Coverart: <%= tierlist.coverart %></p>
    <p>Tiers: <%= tierlist.tiers %></p>
    <p>Colors: <%= tierlist.colors %></p>
    <p>Type: <%= tierlist.type %></p>
    <a href="/">Back to Home</a><br>
    <input type="button" value="generate_objects" onclick="generate_objects()">
    <input type="button" value="parent name" onclick="parrent_name()">



    <div hidden>
        <form action="/add_object" method="POST" id="add_object_form">
            <input name="tid" value="<%= tierlist.id %>">
            <input type="submit" id="submit_add_objecr_form">
            </form>
    </div>
    <input type="button" value="Add object" onclick="submit_form('submit_add_objecr_form')">
    <div id="tierlist_container">

    </div>
    <div id="objects_bin"></div>
    
    
    <script>
        generate_tiers()
        generate_objects()
    </script>
</body>
</html>
